page-game {

}

#chef {
  position: absolute;
  left: 10px;
  top: 10px;
width: 28px;
height: 50px;
}

#ground {
  height: 5px;
  width: 1000px;
  background-color: black;
  position: absolute;
  top: 60px;

}

.ion-page {
  background-color: #2BE399;

}
